.treeStyle {
	font-size:30px;
    font-style:normal;
    font-weight:700;
    font-family:"Times New Roman";
	color:rgb(255,0,0);
}

.treeStyle .dijitTree {
	/*background-color:yellow;*/
	margin:10px;
	
	border-right-width:2px;
	border-left-width:2px;
	border-bottom-width:2px;
	
	border-left-color:blue;
	
	border-top-style:dashed;
	border-right-style:dashed;
	border-bottom-style:dashed;
	
	padding:10px ;
	width:150px;
	height:300px;
}
